[Unit]
Description=Tilt Scanner Service
After=network.target

[Service]
ExecStart=/home/horrible/hydropi/venv/bin/python /home/horrible/hydropi/scripts/scan.py
WorkingDirectory=/home/horrible/hydropi
Restart=always
User=horrible
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/home/horrible/hydropi/logs/scan.log
StandardError=append:/home/horrible/hydropi/logs/scan.log
LimitNOFILE=4096
MemoryLimit=500M
CPUQuota=50%

[Install]
WantedBy=multi-user.target
