[Unit]
Description=Tilt Scanner Service
After=network.target

[Service]
ExecStart=__BASEDIR__/venv/bin/python __BASEDIR__/scripts/scan.py
WorkingDirectory=__BASEDIR__
Restart=always
User=__USER__
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:__BASEDIR__/logs/scan.log
StandardError=append:__BASEDIR__/logs/scan.log
LimitNOFILE=4096
MemoryMax=500M
CPUQuota=50%

[Install]
WantedBy=multi-user.target
